.track {
  cursor: pointer;
  height: 10px;
  transition: all .2s ease;
  width: 100%;
}

.thumb {
  box-shadow: 0 0 0 #111, 0 0 0 lighten(#111, 5%);
  background: #666;
  border: 0 solid #fff;
  border-radius: 12px;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

[type='range'] {
  -webkit-appearance: none;
  margin: 12px / 2 0;
  width: 100%;
}
